@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.logo {
    height: 100px;
    width: 100px;
}

.header{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
}

header nav {
    background-color: aliceblue;
    max-width: 1400;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}