@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.logo {
    padding: 0.9rem 0.9rem;
    height: 50px;
    width: 50px;
}

.header {
    position: obsolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
}

header nav {
    background-color: #fafafa;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #2f856b;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 0.9rem
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-img{
    position: absolute;
    width: 2800px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.fog-7 {
    position: absolute;
    z-index: 2;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.fog-6 {
    position: absolute;
    z-index: 4;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.fog-5 {
    position: absolute;
    z-index: 7;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.fog-4 {
    position: absolute;
    z-index: 11;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.fog-3 {
    position: absolute;
    z-index:13;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.fog-2 {
    position: absolute;
    z-index: 15;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.fog-1 {
    position: absolute;
    z-index: 21;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-10 {
    position: absolute;
    z-index: 3;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-9 {
    position: absolute;
    z-index: 5;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-8 {
    position: absolute;
    z-index: 6;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-7 {
    position: absolute;
    z-index: 8;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-6 {
    position: absolute;
    z-index: 9;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-5 {
    position: absolute;
    z-index:11;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-4 {
    position: absolute;
    z-index:13;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-3 {
    position: absolute;
    z-index:15;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-2 {
    position: absolute;
    z-index:16;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.mountain-1 {
    position: absolute;
    z-index:17;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}
