@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setup for body */
body {
    font-family: "Poppins", sans-serif;
    background: transparent;
}

/* Setup for logo */
.logo {
    padding: 0.2rem 0.2rem;
    /* height: 2%; */
    width: 2%;
}

.logo:hover {
    background-color: #2f856b;
    border-radius: 50px;
}

/* Setup for header and navigator bar */
.header {
    background: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
}

header nav {
    background: transparent;
    max-width: 98%;
    margin: 0.5% 1rem 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #2f856b;
    padding: 0 1.0rem;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 0.9rem
}

header ul a:hover {
    background-color: #2f856b;
    border-radius: 20px;
    color: #fff;
}

/* Setup for main */
main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Setup parallax items */
.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}

.bg-img {
    position: absolute;
    z-index: 1;
    width: 2200px;
    top: calc(50% - 200px);
    left: calc(50% + 10px);
}

.mountain-10 {
    position: absolute;
    z-index: 5;
    width: 400px;
    top: calc(50% + 300px);
    left: calc(50% + 50px);
}

.mountain-9 {
    position: absolute;
    z-index: 5;
    width: 300px;
    top: calc(50% + 100px);
    left: calc(50% - 300px);
}

.mountain-8 {
    position: absolute;
    z-index: 6;
    width: 800px;
    top: calc(50% + 250px);
    left: calc(50% + 350px);
}

.mountain-7 {
    position: absolute;
    z-index: 5;
    width: 700px;
    top: calc(50% + 200px);
    left: calc(50% - 100px);
}

.mountain-6 {
    position: absolute;
    z-index: 2;
    width: 400px;
    top: calc(50% + 100px);
    left: calc(50% + 620px);
}

.mountain-5 {
    position: absolute;
    z-index: 8;
    width: 300px;
    top: calc(50% + 350px);
    left: calc(50% - 40px);
}

.mountain-4 {
    position: absolute;
    z-index: 13;
    width: 690px;
    top: calc(50% + 200px);
    left: calc(50% - 380px);
}

.mountain-3 {
    position: absolute;
    z-index: 15;
    width: 390px;
    top: calc(50% + 300px);
    left: calc(50% + 630px);
}

.mountain-2 {
    position: absolute;
    z-index: 5;
    width: 690px;
    top: calc(50% + 90px);
    left: calc(50% + 200px);
}

.mountain-1 {
    position: absolute;
    z-index: 17;
    width: 590px;
    top: calc(50% + 200px);
    left: calc(50% - 550px);
}

.text {
    position: absolute;
    z-index: 8;
    top: calc(50%);
    left: calc(50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    pointer-events: auto;
}

.text h2 {
    font-weight: 400;
    font-size: 6.0rem;
    line-height: 5rem;
}

.text h1 {
    font-weight: 500;
    font-size: 6.5rem;
    line-height: 5rem;
}

.fog-7 {
    position: absolute;
    z-index: 2;
    width: 100px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
}

.fog-6 {
    position: absolute;
    z-index: 7;
    width: 2600px;
    top: calc(50% + 150px);
    left: calc(50% + 30px);
}

.fog-5 {
    position: absolute;
    z-index: 7;
    width: 190px;
    top: calc(50% + 400px);
    left: calc(50% + 200px);
}

.fog-4 {
    position: absolute;
    z-index: 11;
    width: 190px;
    top: calc(50% + 500px);
    left: calc(50% + 100px);
}

.fog-3 {
    position: absolute;
    z-index: 13;
    width: 190px;
    top: calc(50% + 500px);
    left: calc(50% + 400px);
}

.fog-2 {
    position: absolute;
    z-index: 15;
    width: 190px;
    top: calc(50% - 100px);
    left: calc(50% + 200px);
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 600px;
    pointer-events: none;
}

.black-shadow {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    width: 5000%;
    pointer-events: none;
}

.fog-1 {
    position: absolute;
    z-index: 21;
    width: 5000%;
    top: calc(100% - 355px);
    left: calc(50%);
}

/* Setup ellipse light around whole page */
.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 160%);
    pointer-events: none;
}

/* This is for responsive later  */
/* @media (max-width: 1100px) {
    .text h2 {
        font-size: 4.7rem;
        line-height: 1.0rem;
    }

    .text h1 {
        font-size: 5.8rem;
        line-height: 1.0rem;
    }
} */

/* This is for navigator bar extensions */
#Extension {
    position: absolute;
    z-index: 30;
    pointer-events: none;
}

#Extension iframe {
    pointer-events: none;
    display: block;
    width: 100vw;
    height: 100vh;
    border: none;
    overflow: hidden;
    transform: scale(0.5) translate(-30px, -30px);
    transform-origin: center;
    border-radius: 15px;
}

/* This is for ripples water effect */
.ripples {
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 100vh;
}
