*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(./background.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 30px;
    background: transparent;
    border: 3px solid rgb(252, 252, 252, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

h1 {
    color: #2f856b;
    text-align: center;
    margin-bottom: 36px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.todo-input {
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: #fff;
    border: 2px solid #2f856b;
    border-radius: 30px;
    color: #2f856b;
    font-size: 30px;
    margin-right: 10px;
}

/* .todo-input::placeholder {
    /* color: #bfbfbf; >
    color: black;
} */

.add-button {
    border: none;
    outline: none;
    background: #fff;
    color: #2f856b;
    font-size: 35px;
    cursor: pointer;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid #2f856b;
}

.empty-image {
    width: 20%;
    /* display: flex; */
    margin: 30px auto 0;
    display: block;
    align-items: center;
    justify-content: space-between;
}

.todo {
    font-size: 250%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 12px;
    border: 2px solid #2f856b;
    transition: all 0.2s ease;
}

.todo:first-child {
    margin-top: 0;
    background-color: wheat;
}

.todo:last-child {
    margin-bottom: 0;
    background-color: wheat;
}

.todo:hover {
    background-color: whitesmoke;
}

.todo label {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #2f856b;
}

.todo span {
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

span::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -30px;
    border-radius: 100px;
    border: 2px solid #2f856b;
}

input[type='checkbox'] {
    visibility: hidden;
}

input:checked+span {
    text-decoration: line-through
}

.todo:hover input:checked+span::before,
input:checked+span::before {
    background: #09bb21;
    border-color: #09bb21;
}

.todo:hover span::before {
    border-color: #09bb21;
}

.todo .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2f856b;
    font-size: 24px;
}

.todos-container {
    height: 300px;
    overflow: overlay;
}

.todos-container::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);
    border-radius: 20px
}

.todos-container::-webkit-scrollbar {
    width: 0;
}

.todos-container:hover::-webkit-scrollbar {
    width: 7px;
}

.todos-container::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 150%;
}

.filter {
    color: #2f856b;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid #2f856b;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: wheat;
}

.filter.active,
.filter:hover {
    border: 2px solid #2f856b;
}

.delete-all {
    display: flex;
    color: #2f856b;
    padding: 5px 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid #2f856b;
    border-radius: 5px;
    background-color: wheat;
}

.delete-all:hover {
    background-color: red;
    color: white;
}